* {
  box-sizing: border-box;
}

.Header {
  border: 1px solid green none;
  width: 100vw;
  height: 10vh;
  background-color: #ffc349;
}

.logo1 {
  height: 10vh;
  width: 15vh;
  border-radius: 20px;
  position: absolute;
}

.search {
  width: 25vw;
  height: 5vh;
  position: absolute;
  font-size: 1.5vw;
  margin-top: 0.5vw;
  margin-left: 2vw;
}

.search_button {
  width: 5vw;
  height: 5vh;
  margin-top: 0.5vw;
  margin-left: 27vw;
  float: left;
  font-size: 1vw;
  font-weight: bold;
  color: #ffc349;
}

.search_img {
  width: 2vw;
  height: 2vw;
  float: left;
}

.food_img {
  border: 1px solid red none;
  width: 100vw;
  height: 41vh;
  display: flex;
  margin-bottom: 5vw;
}

.photo_box {
  height: 50vh;
  background-size: 55vw;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50px;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  -webkit-transition: all 700ms ease-in;
}

.photo_box h3 {
  font-size: 1.5vw;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.photo_box.active {
  flex: 5;
}

.photo_box.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
  .food_img {
    width: 100vw;
  }

  .photo_box:nth-of-type(4),
  .photo_box:nth-of-type(5) {
    display: none;
  }
}

.restaurant_map {
  border: 1px solid red none;
  width: 25vw;
  height: 40vh;
  float: right;
  margin-right: 2vw;
}

.restaurant_detail {
  border: 1px solid red none;
  width: 50vw;
  height: 40vh;
  margin-left: 15vw;
  margin-bottom: 3vw;
}

.detail_title {
  font-size: 1.5vw;
  margin-right: 15vw;
  border: 1px solid red none;
}

.star_rating {
  border: solid 1px #fff;
  font-size: 2vw;
  height: 2vw;
  padding: 0 0.2em;
  text-align: center;
  width: 15vw;
  float: right;
}

.star_rating input {
  display: none;
}

.star_rating label {
  color: #ccc;
  cursor: pointer;
  float: right;
}

.star_rating :checked ~ label {
  color: #f90;
}

.star_rating label:hover,
.star_rating label:hover ~ label {
  color: #fc0;
}

.menu {
  margin-top: 3vw;
}

.menu_info2 {
  font-size: 1vw;
  text-align: left;
  line-height: 1.5;
  vertical-align: middle;
  padding-bottom: 0.5vh;
  border: 1px solid red none;
}

.menu_info3 {
  font-size: 1vw;
  text-align: middle;
  line-height: 1.5;
  vertical-align: middle;
  padding-bottom: 0.5vh;
  margin-left: 1vw;
}

.restaurant_review {
  border: 1px solid red none;
  width: 50vw;
  height: 35vh;
  margin-left: 15vw;
  margin-bottom: 3vw;
}

.review_title {
  font-size: 1.5vw;
  margin-right: 35vw;
}

.button_review1 {
  font-size: 1vw;
  font-weight: bold;
}

.button_review2 {
  font-size: 1vw;
  font-weight: bold;
}

.button_review1:hover {
  color: red;
}

.button_review2:hover {
  color: blue;
}

.textarea {
  width: 45vw;
  height: 2vw;
  font-size: 1vw;
  margin-bottom: 3vw;
  margin-top: 1vw;
}

.review_list {
  font-size: 1.1vw;
  color: black;
}

.submit {
  width: 3vw;
  height: 2vw;
}

.footer {
  margin-top: 5vw;
  margin-left: 10vw;
}

.address {
  display: inline;
  font-size: 6vh;
  margin-left: 1vw;
}

.logo2 {
  height: 8vh;
}
