body {
  margin: 0;
  min-width: 600px;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

/* HEADER */
header {
  background-image: url(/public/image/homeplus2.png);
  overflow: hidden;
  position: relative;
  text-align: center;
  background-position: center;
  background-size: cover;
}
header .header-logoicon {
  position: relative;
  margin-top: 5px;
}
header .top {
  position: relative;
  background-color: rgb(235, 53, 53);
  height: 60px;
  z-index: 990;
  box-sizing: border-box;
  box-shadow: 4px 4px 4px rgb(175, 7, 7);
}
header .top img {
  float: left;
  width: 80px;
  height: 50px;
}
header .sub-menu {
  display: flex;
  height: 60px;
}
header .sub-menu ul.menu {
  position: relative;
  display: flex;
}
header .sub-menu ul.menu li {
  position: relative;
  right: 0;
  list-style: none;
}
header .sub-menu ul.menu li::before {
  content: "";
  width: 1px;
  height: 80px;
  background-color: #df6d6d;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 20px;
  margin: auto;
}
header .sub-menu ul.menu li:first-child:before {
  display: none;
}
header .sub-menu ul.menu li a {
  position: relative;
  font-size: 20px;
  padding: 11px 16px;
  display: block;
  color: #f8dcdc;
  text-decoration: none;
  text-align: right;
  bottom: 10px;
}
header .sub-menu ul.menu li a:hover {
  color: rgb(233, 130, 130);
}
header .sub-menu .search {
  margin-top: 10px;
  height: 34px;
  margin-left: 20px;
  position: relative;
}
header .sub-menu .search input {
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  margin-top: 5px;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
  color: #777;
  font-size: 12px;
  transition: width 0.4s;
}

header .sub-menu .search input:focus {
  width: 500px;
}
header .sub-menu .search .material-icons {
  height: 24px;
  position: absolute;
  top: 7px;
  bottom: 0;
  right: 5px;
  margin: auto;
  transition: 0.4s;
}
header .sub-menu .search.focused .material-icons {
  opacity: 0;
}
.info .inner {
  height: 230px;
  z-index: 1;
}
h3 {
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 30px;
}
h1 {
  color: white;
  text-shadow: -1px 0 rgb(235, 53, 53), 0 1px rgb(235, 53, 53),
    1px 0 rgb(235, 53, 53), 0 -1px rgb(235, 53, 53);
  font-size: 40px;
  margin: 0;
  padding: 0;
  text-align: center;
  padding-top: 70px;
}
.sub-title {
  color: white;
  text-shadow: -1px 0 rgb(235, 53, 53), 0 1px rgb(235, 53, 53),
    1px 0 rgb(235, 53, 53), 0 -1px rgb(235, 53, 53);
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 30px;
}
hr {
  border-top: 1px solid aliceblue;
  margin: 0;
  padding: 0;
  margin-top: 50px;
}

/* 가게 목록 */
.container-list {
  width: 100%;
  height: 1000px;
  margin: 0;
}
.container-list .inner ul {
  margin-left: auto;
  margin-right: auto;
}
.container-list .inner ul .restaurant {
  margin: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  width: 750px;
  height: 300px;
  list-style: none;
  box-sizing: border-box;
  position: relative;
}
.container-list .inner ul li .with-review {
  position: relative;
  min-height: 238px;
  overflow: hidden;
}
.container-list .inner ul li .with-review .restaurant-item {
  position: static;
  padding-left: 268px;
  height: 50px;
}
.container-list .inner ul li .with-review .restaurant-item .thumb {
  position: absolute;
  top: 0;
  left: 0;
  height: 238px;
  width: 238px;
}
.container-list .inner ul li .with-review .restaurant-item .thumb img {
  width: 240px;
  height: 240px;
}
.container-list .inner ul li .with-review .review-content {
  position: absolute;
  margin-left: 310px;
  margin-bottom: 0;
}
.container-list .inner ul li .with-review .review-content .review {
  display: inline;
}
.container-list .inner ul li img {
  position: relative;
  float: left;
}
.container-list .inner ul li .restaurant-info {
  position: relative;
  bottom: 20px;
  font-size: 25px;
}
.container-list .inner ul li .restaurant-info .title {
}
.container-list .inner ul li .restaurant-info .title a {
  position: relative;
  text-decoration: none;
}
.container-list .inner ul li .restaurant-info .title a h3 {
  color: black;
  position: relative;
  display: inline;
  font-size: inherit;
}
.container-list .inner ul li .restaurant-info .star {
  color: rgb(233, 130, 12);
}
.container-list .inner ul li .restaurant-info .etc {
  font-size: 0.75rem;
  color: #9b9b9b;
  line-height: 1.3em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 10px;
}
.container-list .inner ul li .restaurant-more-name {
  float: left;
  position: absolute;
  bottom: 70px;
  right: 0px;
}
.container-list .inner hr {
  position: relative;
  margin-top: 215px;
}

/* share */

.share {
  position: flex;
  margin: auto;
  width: 800px;
  height: 70px;
}
.share p {
  position: relative;
  align-items: center;
  justify-content: center;
}
.share .fa-facebook-square {
  position: relative;
  font-size: 50px;
  margin: 10px;
  color: #4267b2;
  width: 200px;
}
.share .fa-facebook-square::before {
  position: relative;
  margin: auto;
  margin-left: 700px;
}
.share .fa-twitter-square {
  position: relative;
  font-size: 50px;
  margin: 10px;
  color: #1da1f2;
  width: 200px;
}
.share .fa-twitter-square::before {
  position: relative;
  margin: auto;
  margin-left: 530px;
}
