* {
  box-sizing: border-box;
}

.header {
  overflow: hidden;
}

header .top {
  position: relative;
  background-color: #ff3111;
  height: 10vh;
  z-index: 990;
  box-sizing: border-box;
}

header .top img {
  float: left;
  width: 8vw;
  height: 10vh;
}

header .sub-menu {
  display: flex;
  height: 1px;
}

header .sub-menu ul.menu {
  position: relative;
  display: flex;
  height: 1px;
}

header .sub-menu ul.menu li {
  position: relative;
  right: 0;
  list-style: none;
  height: 1px;
}

header .sub-menu ul.menu li::before {
  content: "";
  width: 1px;
  height: 10vh;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 1vh;
  margin: auto;
}

header .sub-menu ul.menu li:first-child:before {
  display: none;
}

header .sub-menu ul.menu li a {
  position: relative;
  font-size: 1vw;
  padding-bottom: 50px;
  display: block;
  color: white;
  text-decoration: none;
  text-align: right;
  bottom: 10px;
  margin: 10px;
}

header .sub-menu ul.menu li a:hover {
  color: black;
}

header .sub-menu .search {
  margin-top: 3vh;
  height: 3vh;
  margin-left: 2vw;
  position: relative;
}

header .sub-menu .search input {
  width: 2vw;
  height: 4vh;
  padding: 4px 10px;
  border: 1px solid #ccc;
  margin-top: 5px;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
  color: #777;
  font-size: 1vw;
  transition: width 0.4s;
}

header .sub-menu .search input:focus {
  width: 20vw;
}
header .sub-menu .search .material-icons {
  height: 2vh;
  width: 1vw;
  position: absolute;
  top: 7px;
  bottom: 0;
  right: 5px;
  margin: auto;
  transition: 0.4s;
  font-size: 3vh;
}

header .sub-menu .search.focused .material-icons {
  opacity: 0;
}

/* 백그라운드에 이미지 넣기 */
.body {
  /* background-image: url(../public/background/b4.jpg); */
  text-align: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.food_img {
  border: 1px solid red none;
  width: 100vw;
  height: 41vh;
  display: flex;
  margin-bottom: 5vw;
  border-radius: 50px;
}

.photo_box {
  height: 50vh;
  background-size: 55vw;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50px;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  -webkit-transition: all 700ms ease-in;
}

.photo_box h3 {
  font-size: 1.5vw;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.photo_box.active {
  flex: 5;
}

.photo_box.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
  .food_img {
    width: 100vw;
  }

  .photo_box:nth-of-type(4),
  .photo_box:nth-of-type(5) {
    display: none;
  }
}

.restaurant_map {
  border: 1px solid red none;
  width: 27vw;
  height: 60vh;
  float: right;
  margin-right: 2vw;
  margin-top: 2vw
}

.map_img {
  width: 25vw;
  height: 55vh;
}

.restaurant_detail {
  border: 1px solid red none;
  width: 50vw;
  height: 40vh;
  margin-left: 15vw;
  margin-bottom: 3vw;
}

.detail_title {
  font-size: 1.5vw;
  margin-right: 15vw;
  border: 1px solid red none;
}

.star_rating {
  border: solid 1px #fff none;
  font-size: 2vw;
  height: 2vw;
  padding: 0 0.2em;
  text-align: center;
  width: 15vw;
  float: right;
}

.star_rating input {
  display: none;
}

.star_rating label {
  color: #ccc;
  cursor: pointer;
  float: right;
}

.star_rating :checked ~ label {
  color: #f90;
}

.star_rating label:hover,
.star_rating label:hover ~ label {
  color: #fc0;
}

.menu {
  margin-top: 3vw;
}

.menu_info2 {
  font-size: 1vw;
  text-align: left;
  line-height: 1.5;
  vertical-align: middle;
  padding-bottom: 0.5vh;
  border: 1px solid red none;
}

.menu_info3 {
  font-size: 1vw;
  text-align: middle;
  line-height: 1.5;
  vertical-align: middle;
  padding-bottom: 0.5vh;
  margin-left: 1vw;
}

.restaurant_review {
  border: 1px solid red none;
  width: 50vw;
  height: 35vh;
  margin-left: 15vw;
  margin-bottom: 3vw;
}

.review_title {
  font-size: 1.5vw;
  margin-right: 35vw;
}

.button_review1 {
  font-size: 1vw;
  font-weight: bold;
}

.button_review2 {
  font-size: 1vw;
  font-weight: bold;
}

.button_review1:hover {
  color: red;
}

.button_review2:hover {
  color: blue;
}

.textarea {
  width: 45vw;
  height: 2vw;
  font-size: 1vw;
  margin-bottom: 3vw;
  margin-top: 1vw;
}

.review_list {
  font-size: 1.1vw;
  color: black;
}

.submit {
  width: 3vw;
  height: 2vw;
}

.footer {
  margin-top: 5vw;
  margin-left: 10vw;
}

.address {
  display: inline;
  font-size: 6vh;
  margin-left: 1vw;
}

.logo2 {
  height: 8vh;
}
