.High {
  text-align: center;
  /* background-image: url(../public/image/headerer.png); */
}

header img {
  width: 10%;
}

.arrayList {
  /* border: 1px solid red; */
  text-align: center;
  margin: 20px;
  padding: 10px;
}

img {
  width: 30%;
  height: 30%;
}

section {
  /* overflow: scroll; */
  /* border: 1px solid blue; */
  /* background-image: url(../public/image/sectioner.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%; */
}

a.atag {
  position: relative;
}

span.image_on_text {
  position: absolute;
  /* top: 90px; */
  left: 10px;
  z-index: 1;
  color: white;
  font-size: 25px;
}
